.user{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
.box{
    padding: 10px 100px;
    display: flex;
    flex-direction: column;
    background: #262753;
    border-radius: 30px;
    color: #ffffff;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.image img{
    width: 150px;
    border-radius: 100px;
}